<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-sso" version="0.1">
  <name>Sso</name>
  <js-module src="www/sso.js" >
    <clobbers target="sso" />
  </js-module>

  <preference name="LINE_BUNDLE_ID" default="" />
  <preference name="LINE_CHANNEL_ID" default="" />

  <preference name="TWITTER_KEY" default="" />
  <preference name="TWITTER_SECRET" default="" />

  <!-- iOS -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="Sso">
        <param name="onload" value="true" />
        <param name="ios-package" value="Sso" />
      </feature>
    </config-file>

    <config-file target="config.xml" parent="widget">
      <preference name="TwitterConsumerKey" value="$TWITTER_KEY" />
      <preference name="TwitterConsumerSecret" value="$TWITTER_SECRET" />
      <preference name="deployment-target" value="7.0" />
    </config-file>

    <config-file target="*-Info.plist" parent="LineSDKConfig">
      <dict>
        <key>ChannelID</key>
        <string>$LINE_CHANNEL_ID</string>
      </dict>
    </config-file>
    <config-file target="*-Info.plist" parent="CFBundleURLTypes">
      <array>
        <dict>
          <key>CFBundleTypeRole</key>
          <string>Editor</string>
          <key>CFBundleURLSchemes</key>
          <array>
            <string>$LINE_BUNDLE_ID</string>
            <string>twitterkit-$TWITTER_KEY</string>
          </array>
        </dict>
      </array>
    </config-file>
    <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
      <array>
        <string>lineauth</string>
        <string>$LINE_BUNDLE_ID</string>
      </array>
			<array>
				<string>twitter</string>
				<string>twitterauth</string>
			</array>
    </config-file>

    <source-file src="src/ios/AppDelegate+Sso.h" />
    <source-file src="src/ios/AppDelegate+Sso.m" />
    <source-file src="src/ios/sso.swift" />
    <source-file src="src/ios/Sso-Bridging-Header.h" />

    <framework src="src/ios/line/LineSDK.framework" custom="true" />
    <framework src="Security.framework" />
    <framework src="CoreTelephony.framework" />

    <framework src="src/ios/twitter/TwitterKit.framework" custom="true" />
    <framework src="src/ios/twitter/TwitterCore.framework" custom="true" />
    <resource-file src="src/ios/twitter/TwitterKit.framework/TwitterKitResources.bundle" />
    <resource-file src="src/ios/twitter/TwitterKit.framework/TwitterShareExtensionUIResources.bundle" />

    <dependency id="cordova-plugin-add-swift-support" version="1.7.1"/>
    <preference name="UseSwiftLanguageVersion" default="4" />
  </platform>

  <!-- Android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Sso">
        <param name="android-package" value="plugin.line.Sso"/>
      </feature>
    </config-file>
    <source-file src="src/android/Sso.java" target-dir="src/plugin/line" />

    <lib-file src="src/android/line-sdk-4.0.5.aar" />
    
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.INTERNET" />
    </config-file>

    <framework src="src/android/line.gradle" custom="true" type="gradleReference" />
    
  </platform>

</plugin>
