<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-sso" version="0.0.7">
  <name>Sso</name>
  <description>Single Sign On Plugin</description>
	<engines>
		<engine name="cordova-android" version=">3.9.9" />
	</engines>
  <js-module src="www/sso.js" name='Sso' >
    <clobbers target="sso" />
  </js-module>

  <preference name="LINE_BUNDLE_ID" default="defaultValue" />
  <preference name="LINE_CHANNEL_ID" default="defaultValue" />

  <preference name="TWITTER_KEY" default="defaultValue" />
  <preference name="TWITTER_SECRET" default="defaultValue" />

  <preference name="FACEBOOK_APP_ID" default="defaultValue" />
  <preference name="FACEBOOK_APP_NAME" default="defaultValue" />

  <!-- iOS -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="Sso">
        <param name="onload" value="true" />
        <param name="ios-package" value="Sso" />
      </feature>
    </config-file>

    <config-file target="config.xml" parent="widget">
      <preference name="TwitterConsumerKey" value="$TWITTER_KEY" />
      <preference name="TwitterConsumerSecret" value="$TWITTER_SECRET" />
      <preference name="deployment-target" value="7.0" />
    </config-file>

    <config-file target="*-Info.plist" parent="LineSDKConfig">
      <dict>
        <key>ChannelID</key>
        <string>$LINE_CHANNEL_ID</string>
      </dict>
    </config-file>
    <config-file target="*-Info.plist" parent="CFBundleURLTypes">
      <array>
        <dict>
          <key>CFBundleTypeRole</key>
          <string>Editor</string>
          <key>CFBundleURLSchemes</key>
          <array>
            <string>$LINE_BUNDLE_ID</string>
            <string>twitterkit-$TWITTER_KEY</string>
            <string>fb$FACEBOOK_APP_ID</string>
          </array>
          <key>FacebookAppID</key>
          <string>$FACEBOOK_APP_ID</string>
        </dict>
      </array>
    </config-file>
    <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
      <array>
        <string>lineauth</string>
        <string>$LINE_BUNDLE_ID</string>
      </array>
      <array>
        <string>twitter</string>
        <string>twitterauth</string>
      </array>
      <array>
        <string>fbapi</string>
        <string>fb-messenger-share-api</string>
        <string>fbauth2</string>
        <string>fbshareextension</string>
      </array>
    </config-file>
    <config-file target="*-Info.plist" parent="FacebookAppID">
        <string>$FACEBOOK_APP_ID</string>
    </config-file>
    <config-file target="*-Info.plist" parent="FacebookDisplayName">
        <string>$FACEBOOK_APP_NAME</string>
    </config-file>



    <source-file src="src/ios/AppDelegate+Sso.h" />
    <source-file src="src/ios/AppDelegate+Sso.m" />
    <source-file src="src/ios/sso.swift" />
    <source-file src="src/ios/Sso-Bridging-Header.h" />

    <framework src="src/ios/line/LineSDK.framework" custom="true" />
    <framework src="Security.framework" />
    <framework src="CoreTelephony.framework" />

    <framework src="src/ios/twitter/TwitterKit.framework" custom="true" />
    <framework src="src/ios/twitter/TwitterCore.framework" custom="true" />
    <resource-file src="src/ios/twitter/TwitterKit.framework/TwitterKitResources.bundle" />
    <resource-file src="src/ios/twitter/TwitterKit.framework/TwitterShareExtensionUIResources.bundle" />

    <framework src="src/ios/facebook/Bolts.framework" custom="true" />
    <framework src="src/ios/facebook/FBSDKCoreKit.framework" custom="true" />
    <framework src="src/ios/facebook/FBSDKLoginKit.framework" custom="true" />


    <dependency id="cordova-plugin-add-swift-support" version="1.7.1"/>
    <preference name="UseSwiftLanguageVersion" default="4" />
  </platform>

  <!-- Android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Sso">
        <param name="android-package" value="com.singlesignon.Sso"/>
        <param name="onload" value="true" />
      </feature>
      <access origin="https://m.facebook.com" />
      <access origin="https://graph.facebook.com" />
      <access origin="https://api.facebook.com" />
      <access origin="https://*.fbcdn.net" />
      <access origin="https://*.akamaihd.net" />
      <preference name="android-minSdkVersion" value="15" />
    </config-file>

    <source-file src="src/android/facebook/facebooksettings.xml" target-dir="res/values" />
    <config-file target="res/values/facebooksettings.xml" parent="/*">
        <string name="fb_app_id">$FACEBOOK_APP_ID</string>
        <string name="fb_app_name">$FACEBOOK_APP_NAME</string>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.INTERNET" />
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/fb_app_id"/>
      <meta-data android:name="com.facebook.sdk.ApplicationName" android:value="@string/fb_app_name" />
      <activity android:name="com.facebook.FacebookActivity"
        android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
        android:label="@string/fb_app_name" />
    </config-file>

    <config-file target="res/xml/config.xml" parent="widget">
      <preference name="TwitterConsumerKey" value="$TWITTER_KEY" />
      <preference name="TwitterConsumerSecret" value="$TWITTER_SECRET" />
      <preference name='LineChannelId' value='$LINE_CHANNEL_ID'/>
    </config-file>

    <source-file src="src/android/Sso.java" target-dir="src/com/singlesignon" />

    <framework src="com.facebook.android:facebook-android-sdk:4.+"/>
    <framework src="src/android/twitter/twitter.gradle" custom="true" type="gradleReference" />
    <source-file src="src/android/twitter/UserShowServiceApi.java" target-dir="src/com/singlesignon" />
    <lib-file src="src/android/line/line-sdk-4.0.5.aar" />
    


    <framework src="src/android/line/line.gradle" custom="true" type="gradleReference" />
    
  </platform>

</plugin>
